---
---

@import "minima";

/* overrides */
.important {
  border-left: 0.25em solid #f0b400; /* Yellow border */
  background-color: #fff8dc; /* Light yellow bg */
  padding: 1em;
  margin: 1em 0;
  border-radius: 6px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.important strong {
  display: block;
  margin-bottom: 0.5em;
  color: #735c0f; /* Dark gold for header */
}



